<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./companiesStyle.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <%for(let i = 0; i < companies.length; i++){%>
      <a href="<%=cLink[companies[i].CNAME]%>" target="_blank">
        <div class="c_class">
          <b><p>NAME : <%= companies[i].CNAME%></p></b>
          <p>SALARY : <%= companies[i].SALARY%></p>
          <p>REQ GPA : <%= companies[i].GPA%></p>
          <br /></div
      ></a>
      <%}%>
    </div>
  </body>
</html>
